.container {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding-top: 94px;

  .addBox {
    height: 219px;
    padding-top: 60px;
    background-color: var(--gray50);

    & > div {
      margin: 0 auto;
    }
  }

  .dashboard {
    width: 1060px;
    margin: 0 auto;
    padding-top: 40px;
    user-select: none;

    .searchBar {
      width: 100%;
      margin-bottom: 40px;
      padding: 15px 16px;
      padding-left: 42px;
      border: 0;
      border-radius: 10px;
      background-color: #f5f5f5;
      background-image: url('/icons/search.svg');
      background-repeat: no-repeat;
      background-position: 16px 45%;
    }

    .searchBar:focus {
      outline: none;
    }

    .folderBox {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      position: relative;

      .folder {
        width: fit-content;
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid var(--primary);
        background: var(--white);
        color: var(--black);
        font-size: 1.6rem;
        cursor: pointer;
      }

      .folder.selected {
        background-color: var(--primary);
        color: var(--white);
      }

      & > img {
        position: absolute;
        top: 10px;
        right: -100px;
        cursor: pointer;
      }

      .floatingActionButton {
        display: none;
      }
    }

    .titleBox {
      margin: 24px 0;
      display: flex;
      justify-content: space-between;

      .folderTitle {
        color: var(--black);
        font-size: 2.4rem;
        font-weight: 600;
      }

      .tools {
        display: flex;
        align-items: center;
        gap: 12px;

        & > h3 {
          & > img {
            margin-right: 4px;
          }

          display: flex;
          align-items: center;
          color: var(--gray60);
          font-size: 1.4rem;
          cursor: pointer;
        }
      }
    }

    .cardBox {
      margin-bottom: 100px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .empty {
        width: 100%;
        margin-bottom: 100px;
        padding: 41px 0 35px;
        text-align: center;

        color: var(--black);
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .addBox {
      height: auto;
      padding: 60px 32.5px;
      padding-left: 32.5px;
    }

    .dashboard {
      width: 100%;
      padding: 40px 32.5px;

      .folderBox {
        & > img {
          right: -10%;
        }
      }

      .cardBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: 430px) {
  .container {
    padding-top: 74px;

    .addBox {
      padding: 24px 20px 40px;
    }

    .dashboard {
      padding: 20px 20px;

      .searchBar {
        margin-bottom: 32px;
      }

      .folderBox {
        .folder {
          font-size: 1.4rem;
        }

        & > img {
          display: none;
        }

        .floatingActionButton {
          padding: 8px 24px;
          display: inherit;
          position: fixed;
          bottom: 30px;
          left: 35%;
          color: var(--white);
          background-color: var(--primary);
          text-align: center;
          font-size: 1.6rem;
          letter-spacing: -0.3px;
          border-radius: 20px;
        }
      }

      .titleBox {
        flex-direction: column;
        gap: 12px;
        .folderTitle {
          font-size: 2rem;
        }
      }

      .cardBox {
        grid-template-columns: 1fr;
      }
    }
  }
}
