.container {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding-top: 94px;
  font-size: 2rem;
  user-select: none;

  .folderInfo {
    width: 100%;
    padding: 20px 0 60px;
    background-color: var(--gray50);

    & > img {
      margin: 0 auto 12px;
      display: block;
      border-radius: 100%;
    }

    & > p {
      width: fit-content;
      margin: 0 auto 20px;
    }

    & > h1 {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

@media (max-width: 430px) {
  .container {
    padding-top: 74px;
  }
}
