.container {
  width: 100%;
  height: 100vh;
  background-color: #f0f6ff;
  user-select: none;

  .contents {
    width: 400px;
    margin: 0 auto;
    padding-top: 238px;

    .logoBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      & > span {
        color: #000;
        font-size: 1.6rem;
        line-height: 24px;

        & > a {
          color: var(--Linkbrary-primary-color, #6d6afe);
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-decoration: underline;
        }
      }
    }

    .inputBox {
      margin-bottom: 30px;
      position: relative;

      & > h2 {
        color: #000;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 12px;
      }

      & > input {
        width: 100%;
        padding: 18px 15px;
        border-radius: 8px;
        border: 1px solid #ccd5e3;
      }

      & > input:focus {
        outline: none;
        border: 1px solid #6d6afe;
      }

      & > input:nth-of-type(1),
      & > input:nth-of-type(2) {
        margin-bottom: 24px;
      }

      & > img {
        position: absolute;
        right: 15px;
        cursor: pointer;
      }

      & > img:nth-of-type(1) {
        top: 150px;
      }
      & > img:nth-of-type(2) {
        top: 255px;
      }
    }

    .buttonBox {
      .loginButton {
        width: 100%;
        margin-bottom: 32px;
        padding: 16px 20px;
        background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
        border-radius: 8px;
        cursor: pointer;

        color: #f5f5f5;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
      }

      .socialLoginBox {
        width: 100%;
        padding: 12px 24px;
        border-radius: 8px;
        border: 1px solid #ccd5e3;
        background: #e7effb;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > h2 {
          color: #373740;
          font-size: 1.4rem;
          font-weight: 400;
        }

        & > div {
          display: flex;
          gap: 16px;

          & > img {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .container {
    .contents {
      width: 325px;
      padding-top: 120px;

      .logoBox {
        & > a > img {
          width: 211px;
          height: 38px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
