.container {
  width: 100%;
  height: 100vh;
  background-color: var(--gray50);
  user-select: none;

  .contents {
    width: 400px;
    margin: 0 auto;
    padding-top: 238px;

    .logoBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      & > span {
        color: #000;
        font-size: 1.6rem;
        line-height: 24px;

        & > a {
          color: var(--primary);
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-decoration: underline;
        }
      }
    }

    .inputBox {
      margin-bottom: 30px;
      position: relative;

      & h2 {
        color: #000;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 12px;
      }

      & input {
        width: 100%;
        padding: 18px 15px;
        border-radius: 8px;
        border: 1px solid var(--gray30);
        background-color: var(--white);
      }

      & input:focus {
        outline: none;
        border: 1px solid var(--primary);
      }

      & > label:nth-of-type(1) > input,
      & > label:nth-of-type(2) > input {
        margin-bottom: 24px;
      }

      & > label > input.invalidate {
        border: 1px solid var(--red);
        margin-bottom: 6px;
      }

      & > label:nth-of-type(2),
      & > label:nth-of-type(3) {
        position: relative;

        & > img {
          position: absolute;
          right: 15px;
          bottom: 0;
          cursor: pointer;
        }
      }

      & > h6 {
        color: var(--red);
        font-size: 1.4rem;
        font-weight: 400;
      }

      & > h6:nth-of-type(1),
      & > h6:nth-of-type(2) {
        margin-bottom: 24px;
      }

      & > h6:nth-of-type(1).disabled,
      & > h6:nth-of-type(2).disabled {
        display: none;
      }
    }

    .buttonBox {
      .loginButton {
        width: 100%;
        margin-bottom: 32px;
        padding: 16px 20px;
        background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
        border: 0;
        border-radius: 8px;
        cursor: pointer;

        color: #f5f5f5;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
      }

      .loginButton:disabled {
        background: var(--gray30);
        cursor: default;
      }

      .socialLoginBox {
        width: 100%;
        padding: 12px 24px;
        border-radius: 8px;
        border: 1px solid var(--gray30);
        background: var(--gray40);
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > h2 {
          color: #373740;
          font-size: 1.4rem;
          font-weight: 400;
        }

        & > div {
          display: flex;
          gap: 16px;

          & > img {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .container {
    .contents {
      width: 325px;
      padding-top: 120px;

      .logoBox {
        & > a > img {
          width: 211px;
          height: 38px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
